@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@mixin mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: darkslateblue;
}

.container {
  @include mainFlex();
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  h1 {
    font-family: 'Rock Salt', 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: white;
  }
  #wheel-wrap {
    @include mainFlex();
    margin-top: 50px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background: goldenrod;
    box-shadow: 0 0 30px navy;
    #wheel {
      @include mainFlex();
      width: 500px;
      height: 500px;
      border-radius: 50%;
      border: 2px solid white;
      background: linear-gradient(#c33764, #1d2671);
      overflow: hidden;
      position: relative;
      .line {
        position: absolute;
        width: 505px;
        height: 2px;
        background: white;
      }
      .line-2 {
        transform: rotate(45deg);
      }
      .line-3 {
        transform: rotate(-45deg);
      }
      .line-4 {
        transform: rotate(90deg);
      }
      .choice {
        @include mainFlex();
        justify-content: flex-start;
        position: absolute;
        font-size: 1.5rem;
        font-style: italic;
        text-transform: capitalize;
        text-decoration: none;
        color: white;
        width: 180px;
        height: 40px;
        text-shadow: 
          5px 25px 0 orangered,
          5px -25px 0 limegreen;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      #choice-1 {
        left: 20px;
        top: 172px;
        transform: rotate(22.5deg);
      }
      #choice-2 {
        left: 102px;
        top: 90px;
        transform: rotate(67.5deg);
      }
      #choice-3 {
        right: 101px;
        top: 90px;
        transform: rotate(112.5deg);
      }
      #choice-4 {
        right: 20px;
        top: 172px;
        transform: rotate(157.5deg);
      }
      #choice-5 {
        right: 20px;
        bottom: 171px;
        transform: rotate(202.5deg);
      }
      #choice-6 {
        right: 101px;
        bottom: 90px;
        transform: rotate(247.5deg);
      }
      #choice-7 {
        left: 102px;
        bottom: 90px;
        transform: rotate(292.5deg);
      }
      #choice-8 {
        left: 20px;
        bottom: 171px;
        transform: rotate(337.5deg);
      }
      #spinner-wrap {
        @include mainFlex();
        filter: drop-shadow(0 0 3px navy);
        #spinner {
          width: 450px;
          height: 50px;
          background: orangered;
          clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
          &:hover {
            cursor: pointer;
          }
        }
        #spinner-cap {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: goldenrod;
          box-shadow: 0 0 5px navy;
        }
      }
    }
    @media screen and (max-width: 767px) {
      transform: scale(0.6);
      margin-top: 0;
    }
    @media screen and (max-width: 320px) {
      transform: scale(0.5);
      margin-top: 0;
    }
  }
  #customize {
    margin-top: 30px;
    color: white;
    text-decoration: underline;
    opacity: 0.5;
    &:hover {
      cursor: pointer;
    }
  }
  #form-wrap {
    position: absolute;
    width: 700px;
    height: calc(100vh - 40px);
    background: mediumslateblue;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    display: none;
    #close-btn {
      position: absolute;
      font-size: 3rem;
      color: white;
      top: 0;
      right: 15px;
      &:hover {
        cursor: pointer;
      }
    }
    h3 {
      color: white;
      text-align: center;
      margin: 50px 0 30px 0;
    }
    form {
      @include mainFlex();
      flex-direction: column;
      width: 90%;
      margin: auto;
      input {
        width: 90%;
        height: 35px;
        margin-bottom: 20px;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
      }
      button {
        font-size: 1rem;
        color: darkslateblue;
        margin-top: 15px;
        width: 150px;
        height: 35px;
        background: limegreen;
        border-radius: 5px;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }
  }
}