@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

@mixin mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: lightslategrey;
}

.container {
  @include mainFlex();
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  h1 {
    font-size: 2rem;
    text-align: center;
    color: navy;
  }
  #wheel {
    @include mainFlex();
    margin-top: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 6px solid navy;
    background: lightsteelblue;
    overflow: hidden;
    position: relative;
    .line {
      position: absolute;
      width: 505px;
      height: 3px;
      background: navy;
    }
    .line-2 {
      transform: rotate(45deg);
    }
    .line-3 {
      transform: rotate(-45deg);
    }
    .line-4 {
      transform: rotate(90deg);
    }
    .choice {
      @include mainFlex();
      justify-content: flex-start;
      position: absolute;
      font-size: 1.5rem;
      font-style: italic;
      color: mediumblue;
      width: 180px;
      height: 40px;
      text-shadow: 
        5px 25px 0 orangered,
        5px -25px 0 lawngreen;
    }
    #choice-1 {
      left: 20px;
      top: 172px;
      transform: rotate(22.5deg);
    }
    #choice-2 {
      left: 102px;
      top: 90px;
      transform: rotate(67.5deg);
    }
    #choice-3 {
      right: 101px;
      top: 90px;
      transform: rotate(112.5deg);
    }
    #choice-4 {
      right: 20px;
      top: 172px;
      transform: rotate(157.5deg);
    }
    #choice-5 {
      right: 20px;
      bottom: 171px;
      transform: rotate(202.5deg);
    }
    #choice-6 {
      right: 101px;
      bottom: 90px;
      transform: rotate(247.5deg);
    }
    #choice-7 {
      left: 102px;
      bottom: 90px;
      transform: rotate(292.5deg);
    }
    #choice-8 {
      left: 20px;
      bottom: 171px;
      transform: rotate(337.5deg);
    }
    #spinner {
      width: 450px;
      height: 50px;
      background: orangered;
      clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    }
    #spinner-cap {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: goldenrod;
    }
    @media screen and (max-width: 767px) {
      transform: scale(0.6);
      margin-top: 0;
    }
  }
}