@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$champagne: #f0cea0;
$marigold: #f3a712;
$spaceCadet: #29335c;
$darkLava: #534d41;
$roseMadder: #db2b39;

@mixin mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fall {
  0%     { top: 0; opacity: 1; transform: scale(1); }
  25%    { transform: scale(1.5); }
  50%    { transform: scale(1); }
  75%    { transform: scale(1.5); }
  100%   { top: 100vh; opacity: 0; transform: scale(1); }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  @include mainFlex();
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: $spaceCadet;
  .emoji {
    position: absolute;
    z-index: 0;
    width: 5rem;
    height: 5rem;
    animation: fall 15s linear 
  }
  .btn {
    @include mainFlex();
    z-index: 1;
    top: 20rem;
    left: 20rem;
    width: 5rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: 0.4rem solid $marigold;
    background: $darkLava;
    outline: none;
    user-select: none;
    cursor: pointer;
    &:hover {
      border-color: $roseMadder;
      transition: 0.2s ease-in;
    }
  }
  h1 {
    z-index: 1;
    margin-top: 2rem;
    font-family: 'Righteous', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: white;
    user-select: none;
  }
}