/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: #0d1317;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: gainsboro;
}

.container {
  position: relative;
  width: 870px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid rgba(0,0,0,0.2);
}

#subtitle {
  font-size: 1.2rem;
  margin: 5px;
}

#tooltip {
  font-size: 0.8rem;
  color: white;
  position: absolute;
  width: auto;
  height: auto;
  padding: 8px;
  background: #0d1317;
  border-radius: 6px;
}
