@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

$sage: #c7cbb3;
$shadow: #acb09b;
$toasty: #d1985e;
$bun: #e4a667;
$tomato: #ff3333;
$lettuce: #b3f075;
$cheese: #ffcc33;
$patty: #332600;

@mixin mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin seed {
  position: absolute;
  width: 3px;
  height: 5px;
  background: white;
  border-radius: 90% 0 90% 0;
  opacity: 0.4;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  @include mainFlex;
  width: 100vw;
  height: 100vh;
  background: $sage;
  .hamburger {
    @include mainFlex;
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 250px;
    .top-bun {
      position: relative;
      width: 100px;
      height: 50px;
      background: $bun;
      border-radius: 100px 100px 15px 15px;
      cursor: pointer;
      .seed1 {
        @include seed;
        top: 5px;
        left: 25px;
        transform: rotate(35deg);
      }
      .seed2 {
        @include seed;
        top: 2px;
        left: 48px;
        transform: rotate(-55deg);
      }
      .seed3 {
        @include seed;
        top: 5px;
        left: 72px;
        transform: rotate(-75deg);
      }
      .seed4 {
        @include seed;
        top: 5px;
        left: 37px;
        transform: rotate(15deg);
      }
      .seed5 {
        @include seed;
        top: 5px;
        left: 59px;
        transform: rotate(-55deg);
      }
      .close-btn {
        display: none;
        position: absolute;
        font-size: 2rem;
        top: 12px;
        left: 39px;
        color: $toasty;
      }
    }
    .menu-wrap {
      position: absolute;
      top: 67px;
      width: auto;
      max-height: auto;
      .menu {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.5rem;
        line-height: 2.3rem;
        text-transform: uppercase;
        text-align: center;
        list-style: none;
        .menu-item {
          text-shadow: 1px 1px 2px $cheese;
          &:hover {
            transform: scale(1.2);
            transition: 150ms ease-in;
          }
          a {
            text-decoration: none;
            color: $patty;
            &:hover {
              color: $tomato;
              transition: 150ms ease-in;
            }
          }
        }
      }
    }
    .lettuce {
      width: 110px;
      height: 6px;
      background: $lettuce;
      border-radius: 10px;
    }
    .tomato {
      width: 90px;
      height: 8px;
      background: $tomato;
    }
    .cheese {
      width: 100px;
      height: 5px;
      background: $cheese;
    }
    .patty {
      width: 95px;
      height: 20px;
      background: $patty;
      border-radius: 8px;
    }
    .bottom-bun {
      width: 100px;
      height: 20px;
      background: $bun;
      border-radius: 5px 5px 15px 15px;
    }
  }
}