@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

$bgColor: #e0d8d7;
$mainGray: #2e2c2c;
$green: #29a329;
$greenLit: #33cc33;
$red: #e60000;
$redLit: #ff1a1a;
$blue: #0000e6;
$blueLit: #1a1aff;
$yellow: #e6e600;
$yellowLit: #ffff1a;

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: $bgColor;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #simon {
    width: 500px;
    height: 500px;
    position: relative;
    background: $mainGray;
    border-radius: 50%;
    box-shadow: 
      inset 0 -10px 10px rgba(0,0,0,0.5),
      inset 0 10px 10px rgba(255,255,255,0.2);
    .btn-main {
      width: 230px;
      height: 230px;
      position: absolute;
      border: 15px solid $mainGray;
      box-sizing: border-box;
      box-shadow: 
        inset 0 0 50px rgba(0,0,0,0.5);
      &:hover {
        cursor: pointer;
      }
    }
    #green-btn {
      top: 20px;
      left: 20px;
      background: $green;
      border-radius: 100% 0 0 0;
    }
    #red-btn {
      top: 20px;
      right: 20px;
      background: $red;
      border-radius: 0 100% 0 0;
    }
    #blue-btn {
      bottom: 20px;
      right: 20px;
      background: $blue;
      border-radius: 0 0 100% 0;
    }
    #yellow-btn {
      bottom: 20px;
      left: 20px;
      background: $yellow;
      border-radius: 0 0 0 100%;
    }
    #display {
      width: 250px;
      height: 250px;
      position: absolute;
      z-index: 1;
      transform: translate(50%, 50%);
      border: 15px solid $mainGray;
      border-radius: 50%;
      background: silver;
      box-sizing: border-box;
      #title-bg {
        width: 210px;
        height: 105px;
        position: absolute;
        top: 5px;
        left: 5px;
        background: $mainGray;
        border-radius: 105px 105px 0 0;
      }
      #title {
        font-family: 'Merriweather', sans-serif;
        font-size: 2.5rem;
        color: silver;
        position: absolute;
        top: 40px;
        left: 45px;
        text-align: center;
      }
      #settings {
        position: absolute;
        z-index: 2;
        top: 95px;
        left: 5px;
        width: 210px;
        height: 110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: silver;
        border-radius: 0 0 100px 100px;
        .wrap {
          margin: 8px 6px 0 6px;
        }
        #power {
          width: 56px;
          height: 30px;
          background: $mainGray;
          border-radius: 4px;
          padding: 3px;
          box-sizing: border-box;
          #power-btn {
            float: right;
            width: 23px;
            height: 24px;
            border-radius: 2px;
            background: $blue;
            box-shadow:
              inset 0 3px 3px rgba(255,255,255,0.3),
              inset 0 -3px 3px rgba(0,0,0,0.2);
            &:hover {
              cursor: pointer;
            }
          }
        }
        #start {
          width: 30px;
          height: 30px;
          background: $red;
          border-radius: 50%;
          border: 3px solid $mainGray;
          box-sizing: border-box;
          box-shadow:
              inset 0 3px 3px rgba(255,255,255,0.3),
              inset 0 -3px 3px rgba(0,0,0,0.3);
          &:hover {
            cursor: pointer;
          }
        }
        #strict {
          width: 30px;
          height: 30px;
          background: $yellow;
          border-radius: 50%;
          border: 3px solid $mainGray;
          box-sizing: border-box;
          box-shadow:
              inset 0 3px 3px rgba(255,255,255,0.3),
              inset 0 -3px 3px rgba(0,0,0,0.3);
          &:hover {
            cursor: pointer;
          }
        }
        #strict-light {
          position: absolute;
          top: 5px;
          right: 50px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 2px solid $mainGray;
          background: $redLit;
          box-sizing: border-box;
        }
        #count {
          font-size: 2rem;
          color: $red;
          width: 60px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #330000;
          border-radius: 10px;
        }
        .label {
          font-size: 0.7rem;
          text-align: center;
          text-transform: uppercase;
          color: $mainGray;
          margin: 3px 0 0;
        }
      }
    }
  }
}