@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: gainsboro;
}

h1 {
  font-family: 'Newsreader', serif;
  font-size: 3rem;
  margin-bottom: 25px;
}

h2 {
  font-size: 0.8rem;
  align-self: flex-end;
  margin-right: 105px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tooltip {
  position: absolute;
  font-size: 0.8rem;
  color: gainsboro;
  width: auto;
  height: auto;
  padding: 8px;
  background: #101E3A;
  border-radius: 6px;
}