@mixin mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  @include mainFlex();
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  background: gray;
}

#container {
  width: 700px;
  height: 700px;
  #start-pos-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 100px;
    padding-left: 1px;
  }
  #gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    border: 1px solid blue;
  }
  .slot {
    @include mainFlex();
    width: 100px;
    height: 100px;
    border: 1px solid purple;
    box-sizing: border-box;
    &:hover {
      cursor: pointer;
    }
    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid purple;
    }
  }
}
