@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$khakiColor: #b5afa5;
$redColor: #9c0606;
$blueColor: #235789;
$greenColor: #178036;
$boardColor: #857f74;
$brownColor: #3f292b;

* {
  margin: 0;
  padding: 0;
}

body {
  @include mainFlex();
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: $brownColor;
  margin-top: 20px;
  height: calc(100vh - 20px);
  background: $khakiColor;
  position: relative;
}

header {
  @include mainFlex();
  flex-direction: column;
  position: fixed;
  top: 0;
  margin: 20px 0 0 0;
  width: 720px;
  h1 {
    font-family: 'Racing Sans One', sans-serif;
    color: $blueColor;
  }
  #new-game-btn {
    font-size: 0.9rem;
    color: white;
    margin-top: 10px;
    width: 90px;
    height: 28px;
    border-radius: 5px;
    border: none;
    background: $greenColor;
    &:hover {
      cursor: pointer;
    }
  }
}

#container {
  width: 720px;
  height: 720px;
  position: relative;
  transform: scale(0.7);
  @media screen and (max-width: 767px) {
    transform: scale(0.5);
  }
  @media screen and (max-width: 360px) {
    transform: scale(0.4);
  }
  #start-pos-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 100px;
    margin-top: 10px;
    padding-left: 10px;
  }
  #gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    border: 10px solid $brownColor;
  }
  .hover-slot {
    @include mainFlex();
    width: 100px;
    height: 100px;
    visibility: hidden;
    &:hover {
      cursor: pointer;
    }
    .hover-circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid $brownColor;
    }
  }
  .slot {
    @include mainFlex();
    width: 100px;
    height: 100px;
    background: $boardColor;
    &:hover {
      cursor: pointer;
    }
    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid $brownColor;
      background: $khakiColor;
    }
  }
}

#gameover-msg {
  display: none;
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 200px;
  background: $khakiColor;
  border: 2px solid $brownColor;
  box-shadow: 0 0 5px $brownColor;
  h3 {
    font-size: 2rem;
    text-align: center;
    margin: 40px 0 30px 0;
  }
  #close-btn {
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 15px;
    &:hover {
      cursor: pointer;
    }
  }
  #play-again-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto; 
    left: 0;
    right: 0;   
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: $greenColor;
    &:hover {
      cursor: pointer;
    }
  }
}
