@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin mainFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$khakiColor: #b5afa5;
$redColor: #9c0606;
$blueColor: #235789;
$boardColor: #857f74;
$brownColor: #3f292b;

* {
  margin: 0;
  padding: 0;
}

body {
  @include mainFlex();
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: $brownColor;
  height: 100vh;
  background: $khakiColor;
}

h1 {
  font-family: 'Racing Sans One', sans-serif;
}

#container {
  width: 720px;
  height: 720px;
  #start-pos-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 100px;
    padding-left: 10px;
  }
  #gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 600px;
    border: 10px solid $brownColor;
  }
  .hover-slot {
    @include mainFlex();
    width: 100px;
    height: 100px;
    visibility: hidden;
    &:hover {
      cursor: pointer;
    }
    .hover-circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid $brownColor;
    }
  }
  .slot {
    @include mainFlex();
    width: 100px;
    height: 100px;
    background: $boardColor;
    &:hover {
      cursor: pointer;
    }
    .circle {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid $brownColor;
      background: $khakiColor;
    }
  }
}
