body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #353b3c;
  color: #eef0f2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 300px;
}

#dad-joke {
  text-align: center;
}