@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 50px;
  color: #a31414;
  font-size: 24px;
  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: gray;
}

/* .alarm-box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #de4040;
  box-sizing: border-box;
} */

.ruby-wrap {
  position: relative;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  cursor: pointer;
}

.ruby {
  position: absolute;
}

.r-upper-left {
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 40px solid #bd2222;
}

.r-upper-middle {
  left: 37px;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-top: 40px solid #de4040;
}

.r-upper-right {
  left: 74px;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 40px solid #fa6161;
}

.r-bottom {
  top: 40px;
  width: 0;
  height: 0;
  border-left: 74px solid transparent;
  border-right: 74px solid transparent;
  border-top: 74px solid #a31414;
}

.r-shadow {
  top: 130px;
  left: 10px;
  width: 130px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}

