@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 50px;
  color: #a31414;
  font-size: 24px;
  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: gray;
}

.glass-wrap {
  margin: 50 auto 0;
  perspective: 800px;
}

.glass {
  position: relative;
  width: 110px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-5deg) rotateY(-40deg);
  cursor: pointer;
}

.g-side {
  position: absolute;
  width: 110px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.07);
  box-sizing: border-box;
}

.g-back {
  transform: translateZ(-55px);
}

.g-left {
  transform: translateX(-55px) rotateY(90deg);
}

.g-right {
  transform: translateX(55px) rotateY(90deg);
}

.g-bottom {
  height: 110px;
  transform: translateY(245px) rotateX(90deg);
}

.g-front {
  transform: translateZ(55px);
}

.ruby-wrap {
  position: absolute;
  top: 160px;
  left: -20px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  transform:  rotateY(40deg);
}

.ruby {
  position: absolute;
}

.r-upper-left {
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 40px solid #bd2222;
}

.r-upper-middle {
  left: 37px;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-top: 40px solid #de4040;
}

.r-upper-right {
  left: 74px;
  width: 0;
  height: 0;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 40px solid #fa6161;
}

.r-bottom {
  top: 40px;
  width: 0;
  height: 0;
  border-left: 74px solid transparent;
  border-right: 74px solid transparent;
  border-top: 74px solid #a31414;
}

.r-shadow {
  top: 130px;
  left: 10px;
  width: 130px;
  height: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}

