@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

* {
  margin: 0;
  height: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1a1a00;
}

p {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 2rem;
  color: #2fb62f;
  text-shadow: 0 0 5px #40ff00;
}