body {
  background: gray;
  padding: 0 20px 0 20px;
}

header {
  width: 100%;
  height: auto;
}

#account-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: darkblue;
}

#account-nav ul li, #main-nav ul li {
  display: inline-block;
  padding-right: 15px;
}